body {
    overflow: hidden;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    position: absolute;
    color: #fff;
    height: 10vh;
    line-height: 10vh;
    font-size: 8vh;
    padding: 2.5vh;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'Vollkorn', serif;
    z-index: 9999;
}